html {
  min-height: 100%;
  padding-left: 5%
}

body {
	color: #555555;
	background: #FCFBE3;
	font-style: Helvetica; sans-serif;
}

p {
	min-width: 60%;
	padding-bottom: 8%;
}

footer{
	margin-top: 10%;	
}

.foot{
	text-align:center;
}

/*=========================== Index & Thanks ===================================*/
.logo {
float: right;
margin-left: 10%;
min-width: 40%;
}
/*============================== Index =========================================*/
.form {
	padding: 2.5% 5% 7.5% 5%;
	min-width: 50%;
	max-width: 70%;
	background-color: #CDD7B6;
}

Input[type="text"]{
	width:60%;
	height:20px;
	margin-bottom: 1%;
}

Input[name="name"]{
	width:90%;
}

Input[type="submit"]{
	font-size: 75%;
	float: right;
	margin-right: 10%;
}

.submit_button {
    border: 1px solid;
    background: white;
    color: #555555;
    height:20px;
    max-width: 25%;
    min-width: 10%;
}

.submit_button:hover {
    border: 1px solid blue;
    background: #eef;
}

/*============================== Suckers & Suckers_id============================*/

table{
border-collapse:collapse;
width: 80%;
}

table,th, td{
border: 1px solid black;

}

th,td{
  padding: 1.5% 3% 1.5% 3%;
  text-align: center;
}

th{
  background: #CDD7B6;
}