<!doctype html>
<html lang = "en">

<head>
  <meta charset="UTF-8">
  <title>Born Every Minute</title>
</head>

<body>
  <h1>Coming soon!</h1>

  <p>This is going to be the most amazing thing you've ever seen. Really.</p>

  <p>Give us your deets and we'll let you in on the ground floor.</p>

  <div class="index_form">
    <form method="post">
      <input type="text" name="name_string" placeholder="What everyone calls you" autofocus><br>
      <input type="email" name="email_string" placeholder ="Your@email.com"><br>
      <input type="text" name="twitter_string" placeholder="@twitter"><br>
      <input type="text" name="phone_string" placeholder="phone"><br>
      <input type="submit" value="Press the button">
     </form>
  </div>

</body>

</html>
