<!doctype html>
<html lang = "en">

<head>
  <meta charset="UTF-8">
  <title>Born Every Minute</title>
</head>

<body>
  <h1>Thanks, (what everyone calls you)</h1>

  <p>We'll let you know about this amazing, incredible opportunity just as soon as possible.</p>

</body>

</html>